<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <!-- HEADER-->
        <header>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            <h3>Lugar para poner barra de búsqueda</h2>
            <h3>Comprá en cuotas y sin tarjeta de crédito</h2>
            <nav>
                <ul>
                    <li><a href="/Ofertas">Ofertas</a></li>
                    <li><a href="/Tiendas Oficiales">Tiendas Oficiales</a></li>
                    <li><a href="/Vender">Vender</a></li>
                    <li><a href="/Ayuda">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/Creá tu Cuenta">Creá tu Cuenta</a></li>
                    <li><a href="/Ingresá">Ingresá</a></li>
                    <li><a href="/Mis Compras">Mis Compras</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <img src="/images/img-home-banner.jpg" alt="Banner">
        </div>
        <!-- HEADER-->
        <main>
            <section>
                <h2>Basado en tu última visita</h2>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <h3>$6.770</h3>
                    <h3>40% OFF</h3>
                    <h3>Cafetera Moulinex</h3>
                </div>
                <div>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <h3>$230.000</h3>
                    <h3>20% OFF</h3>
                    <h3>MacBook Pro 2019</h3>
                </div>
                <div>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <h3>$70.500</h3>
                    <h3>10% OFF</h3>
                    <h3>Samsung Galaxy S10</h3>
                </div>
                <div>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">
                    <h3>$23.200</h3>
                    <h3>5% OFF</h3>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </section>
            <section>
                <h2>Ofertas</h2>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <h3>$6.770</h3>
                    <h3>40% OFF</h3>
                    <h3>Cafetera Moulinex</h3>
                </div>
                <div>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <h3>$230.000</h3>
                    <h3>20% OFF</h3>
                    <h3>MacBook Pro 2019</h3>
                </div>
                <div>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <h3>$70.500</h3>
                    <h3>10% OFF</h3>
                    <h3>Samsung Galaxy S10</h3>
                </div>
                <div>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">
                    <h3>$23.200</h3>
                    <h3>5% OFF</h3>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </section>
        </main>
        <footer>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
            <h3>Seguridad, de principio a fin</h3>
            <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.   
            </p>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </footer>
    </body>
</html>