<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <img src="/public/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            <h3>Lugar para poner barra de búsqueda</h2>
            <h3>Comprá en cuotas y sin tarjeta de crédito</h2>
            <nav>
                <ul>
                    <li><a href="/Ofertas">Ofertas</a></li>
                    <li><a href="/Tiendas Oficiales">Tiendas Oficiales</a></li>
                    <li><a href="/Vender">Vender</a></li>
                    <li><a href="/Ayuda">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/Creá tu Cuenta">Creá tu Cuenta</a></li>
                    <li><a href="/Ingresá">Ingresá</a></li>
                    <li><a href="/Mis Compras">Mis Compras</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>