<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href='/css/styles.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- HEADER-->
        
        <header>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" width="100%">
            <h3 class="Text-body">Lugar para poner barra de búsqueda</h2>
            <h3 class="Text-body" id="Cuotas">Comprá en cuotas y sin tarjeta de crédito</h2>
            <nav class="Text-body">
                <ul class="Lista">
                    <li><a href="/Ofertas">Ofertas</a></li>
                    <li><a href="/Tiendas Oficiales">Tiendas Oficiales</a></li>
                    <li><a href="/Vender">Vender</a></li>
                    <li><a href="/Ayuda">Ayuda</a></li>
                </ul>
                <ul class="Lista">
                    <li><a href="/Creá tu Cuenta">Creá tu Cuenta</a></li>
                    <li><a href="/Ingresá">Ingresá</a></li>
                    <li><a href="/Mis Compras">Mis Compras</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <img src="/images/img-home-banner.jpg" alt="Banner" width="100%">
        </div>
        <!-- HEADER-->
        <main>
            <section>
                <h2 class="Titulares">Basado en tu última visita</h2>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%">
                    <h3 class="Precios">$6.770</h3>
                    <h3 class="Descuentos">40% OFF</h3>
                    <h3 class="Descripciones">Cafetera Moulinex</h3>
                </article>
                <article>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                    <h3 class="Precios">$230.000</h3>
                    <h3 class="Descuentos">20% OFF</h3>
                    <h3 class="Descripciones">MacBook Pro 2019</h3>
                </article>
                <article>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                    <h3 class="Precios">$70.500</h3>
                    <h3 class="Descuentos">10% OFF</h3>
                    <h3 class="Descripciones">Samsung Galaxy S10</h3>
                </article>
                <article>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"" width="100%">
                    <h3 class="Precios">$23.200</h3>
                    <h3 class="Descuentos">5% OFF</h3>
                    <h3 class="Descripciones">SmartTv Samsung 43"</h3>
                </article>
            </section>
            <section>
                <h2 class="Titulares">Ofertas</h2>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%">
                    <h3 class="Precios">$6.770</h3>
                    <h3 class="Descuentos">40% OFF</h3>
                    <h3 class="Descripciones">Cafetera Moulinex</h3>
                </article>
                <article>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                    <h3 class="Precios">$230.000</h3>
                    <h3 class="Descuentos">20% OFF</h3>
                    <h3 class="Descripciones">MacBook Pro 2019</h3>
                </article>
                <article>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                    <h3 class="Precios">$70.500</h3>
                    <h3 class="Descuentos">10% OFF</h3>
                    <h3 class="Descripciones">Samsung Galaxy S10</h3>
                </article>
                <article>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="100%">
                    <h3 class="Precios">$23.200</h3>
                    <h3 class="Descuentos">5% OFF</h3>
                    <h3 class="Descripciones">SmartTv Samsung 43"</h3>
                </article>
            </section>
        </main>
        <footer>
            <h3 class="Titulares">Pagá con tarjeta o en efectivo</h3>
            <p class="Text-body">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
            <h3 class="Titulares">Envío gratis desde $ 2.500</h3>
            <p class="Text-body">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
            <h3 class="Titulares">Seguridad, de principio a fin</h3>
            <p class="Text-body">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.   
            </p>
            <h3 class="Text-body">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </footer>
    </body>
</html>