<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mercado Liebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='/css/styles.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
                <div class="search-bar">
                    <form class="formulario-searh-bar" action="/" method="GET">
                        <input type="text" placeholder="Buscar productos, marcas y más">
                        <button class="search-bar-button" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="compra-en-cuotas">
                    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <div class="bottom-header">
                <nav>
                    <ul class="main-nav">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="user-nav">
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
        </header>
        <main class="main-registro">
            <form class="formulario-registro" action="/" method="GET">
                <div class="nombre-registro">
                    <input class="input-nombre-registro" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required minlength="6">
                </div>
                <div class="usuario-registro">
                    <input class="input-usuario-registro" type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de Usuario" required minlength="6">
                </div>
                <div class="email-registro">
                    <input class="input-email-registro" type="email" name="email" id="email" placeholder="E-Mail" required>
                </div>
                <div class="fecha-registro">
                    <p>Fecha de Nacimiento</p>
                    <input class="input-fecha-registro" type="date" name="fecha" id="fecha" placeholder="mm/dd/yyyy" min="1900-01-01" max="2100-01-01" required>
                </div>
                <div class="domicilio-registro">
                    <input class="input-domicilio-registro" type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
                </div>
                <div class="perfil-usuario-registro">
                    <p>Perfil de Usuario</p>
                    <div class="radio-inputs-perfil">
                        <label><input type="radio" name="perfil-usuario" value="Comprador">  Comprador</label>
                        <label><input type="radio" name="perfil-usuario" value="Vendedor">  Vendedor</label>
                    </div>
                </div>
                <div class="intereses-registro">
                    <p>Intereses</p>
                    <div class="checkbox-inputs-intereses">
                        <label><input type="checkbox" name="intereses" value="Electro">  Electro</label>
                        <label><input type="checkbox" name="intereses" value="Moda">  Moda</label>
                        <label><input type="checkbox" name="intereses" value="Hogar">  Hogar</label>
                        <label><input type="checkbox" name="intereses" value="Juguetería">  Juguetería</label>
                        <label><input type="checkbox" name="intereses" value="Vida sana">  Vida sana</label>
                    </div>
                </div>
                <div class="avatar-registro">
                    <p>Foto de Perfil</p>
                    <input class="input-avatar-registro" type="file" name="avatar" accept=".jpg .png">
                </div>
                <div class="contraseña-registro">
                    <input class="input-contraseña-registro" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                    <input class="input-confirmar-contraseña-registro" type="password" name="confirmar-contraseña" id="confirmar-contraseña" placeholder="Confirmar Contraseña" required>
                </div>
                <div class="enviar-cancelar-registro">
                    <input class="input-enviar-registro" type="submit" value="Envíar">
                    <input class="input-cancelar-registro" type="reset" value="Cancelar">
                </div>
            </form>
        </main>
        <footer>
            <div class="paga-efectivo-tarjeta">
                <i class="fa-sharp fa-solid fa-credit-card" id="icono-footer"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="envio-gratis">
                <i class="fa-solid fa-gift" id="icono-footer"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="seguridad">
                <i class="fa-solid fa-user-shield" id="icono-footer"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>