*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}

article div.main-article{
    padding-left: 5vw;
    padding-right: 5vw;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}

main{
    padding-left: 5vw;
    padding-right: 5vw;
}

main section article{
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article div{
    border-top: solid 1px #ebebeb;
    padding: 15px;

}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    border: solid 2px #39b54a;
    padding: 10px;
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

footer{
    text-align: center;
    padding: 5vw;
}

footer i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer p{
    font-size: 12px;
    padding-bottom: 20px;
}