*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
h3{
    font-size: 18px;
    color: #666;
}
.main-nav, .user-nav, p{
    font-size: 12px;
}
/* HEADER */
header{
    background-color: #EAC926;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-width: 130px;
    max-width: 180px;
}
.logo img{
    min-width: 130px;
}
.search-bar{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
    min-width: 130px;
}
.formulario-searh-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.search-bar input{
    width: 100%;
    height: 25px;
    border: none;
    text-align: center;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0;
}
.search-bar-button{
    background-color: #ebebeb;
    width: 30px;
    height: 25px;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0;
    align-items: center;
}
.compra-en-cuotas{
    text-align: center;
    justify-self: center;
    margin-top: 20px;
}
header p{
    text-align: center;
}
nav{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}
.main-nav, .user-nav, ul li a{
    list-style-type: none;
    color: #000;
    text-decoration: none;
}
.burger-menu{
    text-align: center;
}
.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
}
.banner{
    display: flex;
    height: 100%;
    padding: 0;
}
.banner img{
    width: 100%;
}

/* MAIN */
main{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}
main section{
    margin-top: 10px;
}
.last-visit .products,
.offers .products{
    display: flex;
    flex-wrap: wrap;
}

main section article{
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
main section article img{
    width: 100%;
    border-radius: 10px;
}
.main-article{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.price-discount{
    display: flex;
    padding: 0;
    gap: 6px;
    align-items: center;
}
.price{
    font-size: 18px;
}
.discount{
    font-size: 16px;
    font-weight: normal;
    color: #39b54a;
}
.description{
    font-size: 16px;
    font-weight: normal;
    display: none;
    color:#666;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 1.1em;
    height: 1.1em;
    border: 2px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}
main section article i:hover{
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

/* FOOTER */
footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
footer i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
footer i:hover{
    color: #39b54a;
    transition: color 0.3s;
}
footer p{
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.copyright{
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* LOGIN */
.main-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    flex-grow: 1;
}
.formulario-login{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.nombre-usuario-login{
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contraseña-login{
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ingresar-login{
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 3px;
    padding-left: 10px;
    background-color:  #1259c3;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.ingresar-login:hover{
    background-color:  #0022AA;
    transition: background-color 0.3s;
}

/* REGISTRO */
.main-registro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.formulario-registro{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.nombre-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-nombre-registro{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3px;
    padding-left: 10px;
}
.usuario-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-usuario-registro{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3px;
    padding-left: 10px;
}
.email-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-email-registro{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3px;
    padding-left: 10px;
}
.fecha-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}
.fecha-registro p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.input-fecha-registro{
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3px;
    padding-left: 10px;
}
.domicilio-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-domicilio-registro{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3px;
    padding-left: 10px;
}
.perfil-usuario-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}
.perfil-usuario-registro p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.radio-inputs-perfil{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.intereses-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}
.intereses-registro p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.checkbox-inputs-intereses{
    display: flex;
    flex-direction: column;
}
.avatar-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}
.avatar-registro p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.input-avatar-registro{
    font-family: 'Roboto', sans-serif;
    color: #666;
}
.contraseña-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.input-contraseña-registro{
    width: 45%;
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3px;
    padding-left: 10px;
    text-align: center;
}
.input-confirmar-contraseña-registro{
    width: 45%;
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3px;
    padding-left: 10px;
    text-align: center;
}
.enviar-cancelar-registro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.input-enviar-registro{
    width: 45%;
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 3px;
    padding-left: 10px;
    background-color:  #1259c3;
    text-align: center;
}
.input-cancelar-registro{
    width: 45%;
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 3px;
    padding-left: 10px;
    background-color:  #1259c3;
    text-align: center;
}

/* MEDIA QUERYS */
@media (min-width: 768px){
    .top-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .logo{
        width: 180px;
    }
    .search-bar{
        max-width: 35%;
    }
    .compra-en-cuotas{
        margin: 0;
    }
    header nav{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav{
        padding: 0px 20px 0px 20px;
    }
    .main-nav, .user-nav{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .burger-menu{
        display: none;
    }
    main section article{
        width: 49%;
    }
    .products{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .description{
        display: block;
    }
}

@media (min-width: 1200px){
    .burger-menu{
        display: none;
    }
    header nav{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav{
        padding: 0px 20px 0px 20px;
    }
    .main-nav, .user-nav{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .products{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .description{
        display: block;
    }
    main section article{
        width: 24%;
    }
    .top-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .search-bar{
        max-width: 50%;
    }
    .logo{
        width: 180px;
    }
    .compra-en-cuotas{
        margin: 0;
    }
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .paga-efectivo-tarjeta{
        display: flex;
        flex-direction: column;
        width: 33%;
    }
    .envio-gratis{
        display: flex;
        flex-direction: column;
        width: 33%;
    }
    .seguridad{
        display: flex;
        flex-direction: column;
        width: 33%;
    }
    .copyright{
        width: 100%;
    }
}