*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

.logo{
    width: 50%;
    padding: 10px;
}

header nav{
    font-size: 12px;
    padding-bottom: 20px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
.form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}

.main-article{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.price-discount{
    display: flex;
    padding: 0;
    gap: 6px;
    align-items: center;
}

.price{
    font-size: 18px;
}

.discount{
    font-size: 16px;
    font-weight: normal;
}
.description{
    font-size: 16px;
    font-weight: normal;
    display: none;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}

main{
    padding-left: 5vw;
    padding-right: 5vw;
}

main section article{
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

/*
main section article i{
    border: solid 2px #39b54a;
    padding: 10px;
    width: 1em;
    height: 1em;
    border-radius: 100%;
}
*/

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 1.1em;
    height: 1.1em;
    border: 2px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

footer{
    text-align: center;
    padding: 5vw;
}

footer i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer p{
    font-size: 12px;
    padding-bottom: 20px;
}

@media (min-width: 361px){
    header div.burger-menu{
        display: none;
    }
    header nav{
        display: block;
    }
    .products{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    main section article{
        width: 49%;
    }
}

@media (min-width: 1200px){
    header div.burger-menu{
        display: none;
    }
    header nav{
        display: block;
    }
    .products{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    main section article{
        width: 24%;
    }
}

